I regularly undertake editing assignments for a range of clients. These vary from academic book manuscripts and papers to textbooks, articles and reports, and corporate work. 
 
I copy edit full-length academic book manuscripts and papers, with a leaning towards, but not limited to, works related to Taiwan.

Previously I worked largely in journalistic editing working for the Taipei Times, Taiwan News, NewsLens International, and Ketagalan media.

I have also participated in mentoring programs for young journalists through AAJA Asia. 
